version: 2
machine:
  services:
    - docker
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:8.9
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install Docker Compose
          command: |
            curl -L https://github.com/docker/compose/releases/download/1.21.2/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
            chmod +x ~/docker-compose
            sudo mv ~/docker-compose /usr/local/bin/docker-compose
      - run:
          name: Docker Compose
          command: |
            cp judgeapi-example.env .env
            docker-compose -f docker-compose-withdb.yml -p judgecompose up -d
      - run:
          name: Build Tests
          command: |
            docker build test_docker -t judgecompose_test
      - run:
          name: Seed Language Data
          command: |
            docker exec judgecompose_api_1 npm run seedlangs
      - run:
          name: Run Tests
          command: docker run -t --network=judgecompose_default judgecompose_test:latest
